<header class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">

      <!--<div class ="navbar-brand">-->
       <!-- <%= link_to image_tag('rails.png', mouseover: 'iphone_on.jpg'),
                   root_path, id: 'logo' %> -->

      <!--</div>-->
      <!--<nav>-->

        <ul class="nav">
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "Course Description", about_path %></li>
          <li><%= link_to "Contact", contact_path %></li>
          <li><%= link_to "FAQ", faq_path %></li>

          </ul>

      <!--</nav>-->
    </div>
  </div>
</header>